body {
    font-family: 'Outfit', sans-serif;
    align-items: center;
    background-color:  #ffffff;
}
.row {
    background-color: white;
    box-shadow: 5px 5px 20px #070725;
    border-radius: 10px;
}
h1 {
    font-size: 2rem;
    margin: 2% 0% 5%;
    font-weight: 700;
    color: #6094af;

}
#calculator {
    position: relative;
}


 h2 {
    font-size: 1.3rem;
 }


.calculatorBN {
    margin-bottom: 2%;
}

.input-group {
    outline: 0;
    border: 0;
    border-bottom: 2px solid #b5b5b58a;
    background: transparent;
    color: #6094af;
}
.input-group .form-control {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: #6094af;
}
.input-group-text {
    outline: 0;
    border: 0;
    background: transparent;
    color: #b5b5b5;
}

.input-group .button{
    border-bottom: 0 solid;
}


.container-fluid {
    padding: 6% 15% 7%;
}

.cf1 {
    padding-top: 1%;
}

.column2 {
    background-color: #0c1c46;
    border-radius: 0 10px 10px 0;
}

#total {
    color: white;
    font-weight: 200;
    font-size: 1rem;
}

#message {
    color: aliceblue;
    font-size: 5rem;
}

#data-set {
    margin-bottom: 10%;
}

input::placeholder {
    color: #6094af;
}

.making {
    padding-bottom: 3%;
    
}

.backing {
    background-color: #e5e5f7;
    opacity: 0.3;
    background-image: radial-gradient(circle at center center, #0c1c46, #e5e5f7), repeating-radial-gradient(circle at center center, #0c1c46, #0c1c46, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
}

.btn-light {
    border-radius: 2px;
}